.timer {
    text-align: center;
    font-size: 1.4rem; /* Increase font size */
    font-weight: bold; /* Make the text bold */
    display: inline-block;
    padding-right: 10px;  
}
.job-order{
    /* top: 5rem;
    position: absolute;
    z-index: 99; */
    padding: 10px;
}

.red {
    color: red;
}
.my-title{
    font-weight: 500;
    font-size: 10px;
}
.dashboard-timer-red{
	font-weight: bold;
	color: red;
	font-size: 14px;
}
.dashboard-timer{
	font-weight: bold;
	color: black;
	font-size: 14px;
}